<div class="container">
<mat-toolbar class="toolbar">
  <button>
    <mat-icon>menu</mat-icon>
  </button>
 
  <span>Pizza Cube</span>

  
  <a href="#" mat-raised-button>Menu</a>
  
  
</mat-toolbar>


<div class="search-box">
  <input class="search-bar" type="text" placeholder="Search food faster">
  <button class="search-btn">Search</button>
</div>

<div class="intro">
  <h2 class="d-f2">Welcome to</h2>
  
  <h1 class="d-f">Pizza Cube</h1>
  <p class="intro-txt">
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
  </p>
  
  <p class="intro-txt">
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua" 
    'By Mdue"
  </p>
</div>

<div class="btn-blw-info">
  <a class="act-btn" href="#" mat-raised-button>SPECIAL</a>
  <a class="act-btn" href="#" mat-raised-button>RESERVATION</a>

</div>
</div>

<div class="menu-tag"><h2>Menu</h2></div>
<div class="menu-select">
  <div class="menu-grid">
    <p>
      Vegan
      
    </p>
  
  </div>
  <div class="menu-grid">
    <p>Beef</p>
    
  </div>
  <div class="menu-grid">
    <p>Custom  </p>
  </div>
  <div class="menu-grid">
      <p>Pork</p>
  </div>
</div>

<div class="menu-tag"><h2>Daily-Special</h2></div>

<div class="specials">
  <div class="specials-grid">

  </div>
  <div class="specials-grid">

  </div>
  <div class="specials-grid">

  </div>
  <div class="specials-grid">

  </div>
</div>
<div class="footer-container">
    <div class="footer">
        <div class="footer-content">
              <h2>About</h2>
        </div>
        <div class="footer-content">
          <h2>Get Help</h2>
        </div>
        <div class="footer-content">
          <h2>Enquires</h2>
        </div>
    </div>
          <div class="footer-bottom"></div>
</div>