/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
    font-family: 'Tangerine', cursive,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
